.search-bar {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  &--search {
    width: 100%;
  }
  &--checkbox {
    margin-top: 8px;

    input,
    label {
      cursor: pointer;
    }
  }
}
